language: node_js
node_js:
    - 8
before_script:
    - npm install
script: npm run build
deploy:
    local-dir: dist
    provider: pages
    skip-cleanup: true
    github-token: $GITHUB_TOKEN
    keep-history: true
    on:
        branch: master
